bgutil-ytdlp-pot-provider==0.8.5
brotli==1.1.0
certifi==2025.4.26
charset-normalizer==3.4.2
ffmpeg==1.4
idna==3.10
mutagen==1.47.0
pycryptodomex==3.23.0
requests==2.32.3
urllib3==2.4.0
websockets==15.0.1
yt-dlp==2025.5.21.232935.dev0
yt-dlp-get-pot==0.3.0
